@{
    ViewData["Title"] = "RANK";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://localhost:44340/Photos">Rate your favorite photos</a>.</p>
</div>